:root.theme-light {
  --bg-color: #FFF0F8E6;
  --accent-color: #FF8DCB;
  --header-text-color: #FFC2E6;
  --title-decor-color: #FFF1F7;
  --text-color: #353430;
  --hover-btn-color: #353430;
  --border-default: 1px solid #353430;
}

.theme-light .header__decoration-text-dark {
  display: none;
}


@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #FFF0F8E6;
    --accent-color: #FF8DCB;
    --header-text-color: #FFC2E6;
    --title-decor-color: #FFF1F7;
    --text-color: #353430;
    --hover-btn-color: #353430;
    --border-default: 1px solid #353430;
  }

  .header__decoration-text-dark {
    display: none;
  }
}