/* Main styles */

.page {
  font-family: "IBM Plex mono", monospace;
  background-color: var(--bg-color);
  background-image: var(--cover-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  top: 10px;
  right: 10px;
  width: 25px;
  height: 25px;
  border-top: var(--border-default);
  border-right: var(--border-default);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 25px;
  height: 25px;
  border-bottom: var(--border-default);
  border-left: var(--border-default);
}

.title-decor {
  color: var(--title-decor-color);
  font-weight: 700;
  font-size: var(--font-size-default);
  line-height: 23.4px;
  letter-spacing: 0;
  background-color: var(--accent-color);
}

/* Header */

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  box-sizing: border-box;
  height: 100vh;
  padding: 0 10px;
  min-block-size: 648px;
}

.header__decoration-text-dark {
  position: absolute;
  top: 10px;
  right: 10px;
  justify-self: end;
  padding-right: 30px;
  color: var(--accent-color);
  font-weight: 400;
  font-size: var(--font-size-default);
  line-height: 25px;
  letter-spacing: 0;
  text-transform: uppercase;
}

.header__decoration-text-dark::after {
  content: "";
  position: absolute;
  top: 13px;
  right: 9px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accent-color);
  background-color: var(--accent-color);
  transform: translateY(-50%);
}

.header__theme-menu {
  justify-self: end;
  align-self: center;
  margin-top: 8px;
}

.header__theme-menu-list {
  display: grid;
  grid-template-rows: 1fr;
  gap: 10px;
  padding: 0;
  list-style: none;
}

.header__theme-menu-item {
  font-weight: 400;
  font-size: var(--font-size-default);
  line-height: 18px;
  letter-spacing: 0;
  text-transform: lowercase;
}

.header__theme-menu-button {
  height: 26px;
  border: 1px solid transparent;
  padding: 1.5px 13px;
  color: var(--changeable-accent-color);
  font-weight: 400;
  font-size: var(--font-size-default);
  line-height: 18px;
  letter-spacing: 0;
  text-transform: lowercase;
  background: none;
  cursor: pointer;
}

.header__theme-menu-button_active {
  border: var(--border-default);
  pointer-events: none;
}

.header__theme-menu-button:hover:not(.header__theme-menu-button_active) {
  border: 1px solid var(--hover-btn-color);
}

.header__theme-menu-button:focus-visible:not(
    .header__theme-menu-button_active
  ) {
  border-bottom: var(--border-default);
  outline: none;
}

.header__text,
.footer__text {
  color: var(--header-text-color);
  font-weight: bold;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  letter-spacing: 0;
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header__title {
  margin-top: -10px;
  align-self: center;
  max-width: 355px;
}

/* Main content */

.main {
  padding: 40px 10px;
}

.main__section:not(:last-of-type) {
  margin-bottom: 30px;
}

.section__header {
  padding-bottom: 20px;
  font-weight: 700;
  font-size: var(--font-size-default);
  line-height: 23.4px;
  letter-spacing: 0;
}

.section__header-colored-text {
  color: var(--changeable-accent-color);
}

.content__header {
  margin-bottom: 10px;
}

.content__paragraph {
  padding-bottom: 20px;
  color: var(--text-color);
  font-size: var(--font-size-default);
  line-height: 23.4px;
  letter-spacing: 0;
}

.paragraph__link {
  color: var(--text-color);
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.paragraph__link:hover {
  border-bottom: var(--link-border);
}

.paragraph__link:focus-visible {
  outline: var(--border-default);
}

.content__header-decoration {
  margin-bottom: 20px;
}

.title-decor-normal {
  font-weight: normal;
}

.section__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section__image:not(:last-of-type) {
  margin-bottom: 10px;
}

/* Footer */

.footer {
  display: grid;
  height: 100vh;
  min-block-size: 648px;
}

.footer__text {
  justify-self: center;
  align-self: center;
}

/* Media 768x1024 */

@media (width > 767px) {
  .main {
    padding: 60px 20px;
  }

  /* Header */

  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }

  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }

  .title-decor {
    grid-column: span 1;
    width: 50%;
  }

  .header__theme-menu {
    padding-top: 20px;
  }

  .header {
    padding: 0 20px;
  }

  .header__decoration-text-dark {
    top: 20px;
    right: 20px;
  }

  .header__text,
  .footer__text {
    align-self: center;
    margin-left: -20px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__title {
    justify-self: end;
    max-width: none;
    margin-top: -19px;
  }

  .footer__text {
    margin-left: 0;
  }

  /* Main */

  .main__section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .main__section:not(:last-of-type) {
    margin-bottom: 60px;
  }

  .main__section:last-of-type {
    grid-template-rows: 1fr min-content min-content min-content;
  }

  .content__header {
    width: 100%;
  }

  .section__why-it-is-hard-to-concentrate {
    grid-template-columns: 1fr 2fr;
  }

  /* .section__why-it-is-hard-to-concentrate .section__header {
    grid-column: 1 / 2;
    grid-row: 1 / 4;
  }

  .section__why-it-is-hard-to-concentrate .section__content {
    grid-column: 2 / 4;
    grid-row: 1 / 4;
  } */

  .section__what-reduces-concentration {
    grid-template-rows: min-content 1fr;
  }

  .section__what-reduces-concentration .section__header {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    padding-bottom: 0;
  }

  .section__what-reduces-concentration .section__content {
    grid-column: 1 / 4;
    grid-row: 2 / 3;
  }

  /* .section__how-to-concentrate .section__header {
    grid-column: 1 / 2;
    grid-row: 1 / 4;
  }

  .section__how-to-concentrate .section__content {
    grid-column: 2 / 4;
    grid-row: 1 / 4;
  } */

  .section__how-to-concentrate {
    grid-template-columns: 1fr 2fr;
  }

  .section__picture .content__header {
    grid-column: 1 / 4;
  }

  .section__image:nth-of-type(1) {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
  }

  .section__image:nth-of-type(2) {
    grid-column: 3 / 4;
    grid-row: 2 / 4;
  }

  .section__image:nth-of-type(3) {
    grid-column: 1 / 2;
    grid-row: 3 / 5;
  }

  .section__image:nth-of-type(4) {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }

  .section__image:nth-of-type(5) {
    grid-column: 2 / 4;
    grid-row: 4 / 5;
  }

  .section__picture .content__header {
    margin-bottom: 0;
  }

  .section__image:not(:last-of-type) {
    margin-bottom: 0;
  }
}

/* Media 1024x768 */

@media (width > 1023px) {
  .header__theme-menu {
    justify-self: center;
    align-self: start;
    margin-top: 0;
  }

  .header__theme-menu-list {
    display: flex;
  }

  .section__why-it-is-hard-to-concentrate .section__header {
    grid-column: 1 / 2;
    grid-row: 1 / 4;
  }

  .section__why-it-is-hard-to-concentrate .section__content {
    grid-column: 2 / 4;
    grid-row: 1 / 4;
  }

  .section__what-reduces-concentration .section__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .section__how-to-concentrate .section__header {
    grid-column: 1 / 2;
    grid-row: 1 / 4;
  }

  .section__how-to-concentrate .section__content {
    grid-column: 2 / 4;
    grid-row: 1 / 4;
  } 
}
