:root {
  --cover-image: url(../images/cover-image.png);
  --bg-color: #000730E6;
  --accent-color: #FF0070;
  --header-text-color: #DB00FF;
  --title-decor-color: #000028;
  --text-color: #F1B2CE;
  --hover-btn-color: #FF007066;
  --border-default: 1px solid #FF0070;
  --font-size-default: 18px;
}